<div class = "single-container">
  <div class = "single-header">
  </div>



  <div class = "single-main">
    <div class = "single-main-contents">
      <h2 class = "single-main-contents-title">会員情報入力</h2>
    </div>
    <div class = "single-main-contents-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :nickname %> <em>(8 characters maximum)</em><br />
          <span class =""></span>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <%# # <%= f.check_box  %>  
          <%= f.label :パスワードを表示する %>
        </div>

        <div class = "form-group">
          <h3 class = "text-check">本人確認</h3>
          <p class = "text-message" >安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。</p>
        <div class = "">


        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  
  
  
  <div class = "single-footer">
  </div>
</div>
  







