= render "header"
-# config/breadcrumbs.rbに定義したmypagesを呼び出し
- breadcrumb :list
= render "bread-crumbs"

%main.l-container.clearfix
  .l-content

    %section.mypage-tab-container2
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => ""}
              出品中
        %li
          %h3
            %a{"data-toggle" => "tab", :href => ""}
              売却済み
      .tab-content
        - @items.each do |item|
          .tab-content__box
            .tab-content__box__name
              = link_to item_path(item.id) do
                出品名：
                = item.name
              .tab-content__box__image
                = link_to item_path(item.id) do
                  = image_tag "#{item.images.first.image}", class:"item__image",width:"100", height:"100"
              .tab-content__box__text
                状態

        -# %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
        -#   %li
        -#     %a.mypage-item-link{:href => "https://www.mercari.com/jp/items/m14202584467/"}
        -#       %figure
        -#         %img.is-higher-width.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/thumb/photos/m14202584467_1.jpg?1575452936", :src => "//static.mercdn.net/thumb/photos/m14202584467_1.jpg?1575452936"}/
        -#       .mypage-item-body.show-stock-item
        -#         .mypage-item-text
        -#           テスト
        -#         %div
        -#           .mypage-item-status.bold.action-required
        -#             公開停止中
        -#       %i.icon-arrow-right
        -#   %li
        -#     %a.mypage-item-link{:href => "https://www.mercari.com/jp/items/m99111913922/"}
        -#       %figure
        -#         %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/thumb/photos/m99111913922_1.jpg?1569936483", :src => "//static.mercdn.net/thumb/photos/m99111913922_1.jpg?1569936483"}/
        -#       .mypage-item-body.show-stock-item
        -#         .mypage-item-text
        -#           BECK 関連書籍2冊セット
        -#         %div
        -#           .mypage-item-status.bold.awaiting
        -#             出品中
        -#       %i.icon-arrow-right

  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypage_path(current_user), class:"mypage-nav-list-item" do
            マイページ
            %i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            お知らせ
            %i.fas.fa-chevron-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 出品中
            %i.fas.fa-chevron-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 取引中
            %i.fas.fa-chevron-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 売却済み
            %i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            購入した商品 - 取引中
            %i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            購入した商品 - 過去の取引
            %i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            評価一覧
            %i.fas.fa-chevron-right
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to profile_mypages_path, class:"mypage-nav-list-item" do
            プロフィール
            %%i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            発送元・お届け先住所変更
            %i.fas.fa-chevron-right
        %li
          = link_to credit_mypages_path, class:"mypage-nav-list-item" do
            支払い方法
            %i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            メール/パスワード
            %i.fas.fa-chevron-right
        %li
          = link_to identification_mypages_path, class:"mypage-nav-list-item" do
            本人情報
            %i.fas.fa-chevron-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            電話番号の確認
            %i.fas.fa-chevron-right
        %li
          = link_to logout_mypages_path, class:"mypage-nav-list-item" do
            ログアウト
            %i.fas.fa-chevron-right
= render "footer"