= render "header"
-# config/breadcrumbs.rbに定義したlogoutを呼び出し
- breadcrumb :logout
= render "bread-crumbs"
%main.l-container.clearfix
  .l-content
    .l-chapter-container
      %form.l-single-inner{action: "/users/sign_out", method: "get", novalidate: "novalidate"}
        .l-single-content
          %button.btn-default.btn-red{type: "submit"} ログアウト
          %input{name: "__csrf_value", type: "hidden", value: "9344d8c9ae026fc206874395e2c8a1c4d3410d9fe459b11361f64dc5d6f00e151ee1aeb691cda7372a6aaf013260276ada42f12babc8a9a45d162b54d545848b7"}/
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypage_path(current_user), class:"mypage-nav-list-item" do
            マイページ
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            お知らせ
            %i.icon-arrow-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 出品中
            %i.icon-arrow-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 売却済み
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            購入した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            評価一覧
            %i.icon-arrow-right
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to profile_mypages_path, class:"mypage-nav-list-item" do
            プロフィール
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            発送元・お届け先住所変更
            %i.icon-arrow-right
        %li
          = link_to credit_mypages_path, class:"mypage-nav-list-item" do
            支払い方法
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            メール/パスワード
            %i.icon-arrow-right
        %li
          = link_to identification_mypages_path, class:"mypage-nav-list-item" do
            本人情報
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            電話番号の確認
            %i.icon-arrow-right
        %li
          = link_to logout_mypages_path, class:"mypage-nav-list-item" do
            ログアウト
            %i.icon-arrow-right
= render "footer"