= render "header"
- breadcrumb :profile
= render "bread-crumbs"
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head プロフィール
      %form{action: "", method: "POST"}
        %input{name: "__csrf_value", type: "hidden", value: ""}/
        .setting-profile-icon
          %figure
            = image_tag "member_photo_noimage_thumb.png", height: "60", width: "60"
          %input.input-default{name: "nickname", placeholder: "例)AYA☆セール中", type: "text", value: ""}/
        .setting-profile-content
          %textarea.textarea-default{name: "introduction", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
          %input{name: "after_save_callback", type: "hidden", value: "https://www.mercari.com/jp/mypage/profile/"}/
          %button.btn-default.btn-red{type: "submit"} 変更する
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypages_path, class:"mypage-nav-list-item" do
            マイページ
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            お知らせ
            %i.icon-arrow-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 出品中
            %i.icon-arrow-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to root_path,class:"mypage-nav-list-item" do
            出品した商品 - 売却済み
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            購入した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            評価一覧
            %i.icon-arrow-right
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to profile_mypages_path, class:"mypage-nav-list-item" do
            プロフィール
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            発送元・お届け先住所変更
            %i.icon-arrow-right
        %li
          = link_to credit_mypages_path, class:"mypage-nav-list-item" do
            支払い方法
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            メール/パスワード
            %i.icon-arrow-right
        %li
          = link_to identification_mypages_path, class:"mypage-nav-list-item" do
            本人情報
            %i.icon-arrow-right
        %li
          = link_to root_path, class:"mypage-nav-list-item" do
            電話番号の確認
            %i.icon-arrow-right
        %li
          = link_to logout_mypages_path, class:"mypage-nav-list-item" do
            ログアウト
            %i.icon-arrow-right
= render "footer"