%li.category01
  = link_to "ブランドから探す" ,"#" 

  %ul
    %li
      = link_to "ナイキ" ,"#" 
    %li
      = link_to "シャネル" ,"#" 
    %li
      = link_to "ルイ・ヴィトン" ,"#" 
    %li
      = link_to "シュープリームス" ,"#" 
    %li
      = link_to "アディダス" ,"#" 

