.default-container
  %header.pc-header.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          = link_to root_path do
            = image_tag "logo-1.svg", alt: "mercari", height: "36", width: "134"
        %form.pc-header-form{action: "https://www.mercari.com/jp/search/"}
          %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
          %i.fas.fa-search{action: "https://www.mercari.com/jp/search/"}

      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.gnav
            =render "category"
            =render "bland"
                




        -if user_signed_in?
          .sc-eXEjpC.fzedbE
            %a.sc-RefOD.jwHbWf{:href => ""}
              .sc-bsbRJL.gKKfZH
              %i.fas.fa-check
              やることリスト
              
            %a.sc-RefOD.jwHbWf{:href => ""}
              .sc-bsbRJL.gKKfZH
              %i.far.fa-bell
              お知らせ

            %a.sc-RefOD.jwHbWf{:href => ""}
              .sc-bsbRJL.gKKfZH
              %i.far.fa-heart
              いいね！一覧 

            .sc-RefOD.jwHbWf
              = link_to mypage_path(current_user) do
                .sc-bsbRJL.gKKfZH
                  = image_tag "member_photo_noimage_thumb.png", alt: "", height: "", width: "100%"
              マイページ
        - else
          .sc-cJSrbW.kSIIvy
            .sc-ksYbfQ.VWTjH
              .sc-hmzhuo.RnltX
                = link_to "新規会員登録", signup_index_path, class: ""
            .sc-frDJqD.dcGsvC
              .sc-kvZOFW.bQksMT
                = link_to "ログイン", new_user_session_path, class: ""
