.default-container
  %header.pc-header.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          = link_to root_path do
            = image_tag "logo-1.svg", alt: "mercari", height: "36", width: "134"
        %form.pc-header-form{action: "https://www.mercari.com/jp/search/"}
          %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
          %i.icon-search
      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.pc-header-nav
            %li
              %h2
                .pc-header-nav-root.list-parent 
                  = link_to root_path do
                    %i.icon-list.pc-header-cat-brand-icon
                    %span カテゴリーから探す
                %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
                  %li.pc-header-nav-parent
            %li
              %h2
                .pc-header-nav-root.list-parent 
                  = link_to root_path do
                    %i.icon-tag.pc-header-cat-brand-icon
                    %span ブランドから探す
                  %ul.pc-header-nav-parent-wrap
                    %li.pc-header-nav-parent
                      %h3  
                    %li.pc-header-nav-parent
        .sc-cJSrbW.kSIIvy
          .sc-ksYbfQ.VWTjH
            .sc-hmzhuo.RnltX
              = link_to "新規会員登録", new_user_registration_path, class: ""
          .sc-frDJqD.dcGsvC
            .sc-kvZOFW.bQksMT
              = link_to "ログイン", new_user_session_path, class: ""
  -# %nav.bread-crumbs
  -#   %ul
  -#     %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
  -#       =link_to root_path do
  -#         %span{itemprop: "title"} メルカリ
  -#       %i.icon-arrow-right
  -#     =link_to root_path do
  -#       %span{itemprop: "title"} マイページ