= render "header"
.sc-ebFjAB.dxJnjc
  .sc-clNaTc.iniLfl
    = link_to "#", target: "_blank" do
      .sc-hzNEM.iFJfgS
    .slider.sc-fQejPQ.gjkspQ{style: "box-sizing: border-box; display: block; height: auto; position: relative; visibility: inherit; width: 100%;"}
      .slider-frame{style: "box-sizing:border-box;display:block;height:100%;margin:0px;-moz-box-sizing:border-box;-ms-transform:translate(0, 0);overflow:hidden;padding:0;position:relative;touch-action:pinch-zoom pan-y;transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0)"}
        %ul.slider-list{style: "transform: translate3d(0px, 0px, 0px); position: relative; display: block; margin: 0px; padding: 0px; height: 390px; width: 2688px; cursor: pointer; box-sizing: border-box; touch-action: pan-y pinch-zoom;"}
          %li.slider-slide.slide-visible{:style => "box-sizing: border-box; display: inline-block; height: auto; left: 0px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 1344px;"}
            = link_to "#", target: "_blank" do
              .sc-hzNEM.iFJfgS{"aria-hidden" => "false", tabindex: "0"}
          %li.slider-slide{style: "box-sizing: border-box; display: inline-block; height: auto; left: 1344px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 1344px;"}
            .sc-hzNEM.fSbCwc
              .sc-chbbiW.lpfITZ
                = image_tag "", alt: "mercari"
                .sc-kxynE.hkJJjj
                  .sc-iSDuPN.hjMsAb
                    スマホで
                    かんたん
                    %br>/
                    フリマアプリ
                  %p.sc-fZwumE.jmKeIu
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .sc-gmeYpB.bPWhgn
                    = link_to "#", target: "_blank" do
                      = image_tag "", alt: ""
                    = link_to "#", target: "_blank" do
                      = image_tag "", alt: ""
      .slider-control-centerleft{style: "position:absolute;top:50%;left:0;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)"}
        .sc-kaNhvL.sc-etwtAo.gBRyTf.sc-LKuAh.fDeTnn
      .slider-control-centerright{style: "position:absolute;top:50%;right:0;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)"}
        .sc-kaNhvL.sc-jXQZqI.jqouQU.sc-iBEsjs.eCkyqu
      .slider-control-bottomcenter{style: "position:absolute;bottom:0;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%)"}
        .style_dotsIndicator__1fZnt.common_fontFamily__3-3Si.style_center__2IkR_.style_mono__3e12j.sc-iGPElx.zxiXZ
          %span.style_active__2ihlK
          %span
      :scss
        .slider-slide > img { width: 100%; display: block; }
                  .slider-slide > img:focus { margin: auto; }
  .sc-gtfDJT.gJTxdm
    %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4.sc-fOICqy.ybTBp 人気のカテゴリー
    .sc-hzDEsm.dpboAj
      %ul.sc-jeCdPy.hqbLjQ
        %li.sc-jtRlXQ.bftzQH
          %a.sc-bGbJRg.sc-bEjcJn.jyApwd レディース
        %li.sc-jtRlXQ.bftzQH
          %a.sc-bGbJRg.sc-bEjcJn.jyApwd メンズ
        %li.sc-jtRlXQ.bftzQH
          %a.sc-bGbJRg.sc-bEjcJn.jyApwd 家電・スマホ・カメラ
        %li.sc-jtRlXQ.bftzQH
          %a.sc-bGbJRg.sc-bEjcJn.jyApwd おもちゃ・ホビー・グッズ
.sc-gVyKpa.dxUUSo
  - @item_all.each do |item|
    = link_to item_path(item.id) do
      = image_tag "#{item.images.first.image}", class:"item__image",width:"180", height:"180"
      .item-box__price
      = "値段：#{item.price}"
      .item-box__name
      = "名前：#{item.name}"
= render "footer"

