.single-container
  %header.single-header
    %h1
      = link_to root_path do
        = image_tag "logo-1.svg", alt: "mercari"
  %main.single-main
    .login-panel
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", signup_index_path
      .login-form-inner
        = link_to user_facebook_omniauth_authorize_path, method: :post, id:"facebook-login", class:"btn-default btn-sns btn-sns-facebook" do
          %i.icon-facebook
          Facebookでログインする
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, id:"google-login",class:"btn-default btn-sns btn-sns-google" do
          Googleでログインする
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-form-inner
          .form-group
            = f.email_field :email, class:"input login-input-text input-default", placeholder: "メールアドレス"
          .form-group
            = f.password_field :password, class:"login-input-text input-default", placeholder: "パスワード"
          .form-group
            .g-recaptcha.login-captcha{"data-sitekey": ""}
          = f.submit "ログイン", class:"login-submit btn-default btn-red"
          %input{name: "login_callback", type: "hidden", value: "/jp/"}/
          %input{name: "__csrf_value", type: "hidden", value: ""}/
          = link_to "パスワードをお忘れの方", root_path
    %form#login_form_facebook{action: "/jp/login/", method: "POST", novalidate: "novalidate"}
    %form#login_form_google{action: "/jp/login/", method: "POST", novalidate: "novalidate"}
    %input#google_client_id{type: "hidden", value: ""}/
    %input#facebook_app_id{type: "hidden", value: "466308336793848"}/

= render "footer"