.single-container
  %header.single-header
    %h1
      = link_to root_path do
        = image_tag "logo-1.svg", alt: "mercari"
  %main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力
          = form_with(model: @item , method: :patch, local: true) do |f|
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます
              .sell-dropbox-container.clearfix.state-image-number-10
                - @item.images.each do |img|
                  .preview-box
                    .preview-box__img-box
                      = image_tag "#{img.image}", height:"118", width:"118", class:"image"
                    .preview-box__select-2
                      = link_to imgdestroy_items_path, method: :delete do
                        %p 削除
                .sell-upload-items-container
                  .sell-upload-items.have-item-0
                %label.sell-upload-drop-box.have-item-0
                  = f.fields_for :images do |image|
                    = image.file_field :image, multiple: true, name: "images[image][]", class:"boxfileselect fileup_last"
                  %pre.visible-pc
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
            .sell-content
              .form-group
                %label
                  商品名
                  %span.form-require 必須
                = f.text_field :name, placeholder: "商品名", class:"input-default"
              .form-group
                %label
                  商品の説明
                  %span.form-require 必須
                = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", class:"textarea-default"
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  %label
                    カテゴリー
                    %span.form-require 必須
                    .select-wrap
                      %i.fas.fa-chevron-right.a
                      = f.select :category_id,[["レディース","1"],["メンズ","2"],["ベビー・キッズ","3"],["インテリア・住まい・小物","4"],["本・音楽・ゲーム","5"],["おもちゃ・ホビー・グッズ","6"],["コスメ・香水・美容","7"],["家電・スマホ・カメラ","8"],["スポーツ・レジャー","9"],["ハンドメイド","10"],["チケット","11"],["自動車・オートバイ","12"],["その他","13"]], {}, {class: 'select-default'}
                .form-group
                  %label
                    商品の状態
                    %span.form-require 必須
                    .select-wrap
                      %i.fas.fa-chevron-right.b
                      = f.select :item_condition_id, [["新品、未使用","1"],["未使用に近い","2"],["目立った傷や汚れなし","3"],["やや傷や汚れあり","4"],["傷や汚れあり","5"],["全体的に状態が悪い","6"]],{}, {class:"select-default"}
            -# 現時点では未実装である為コメントアウト化しています
            -# .sell-content.clearfix
            -#   %h3.sell-sub-head 配送について
            -#   .sell-form-box
            -#     .form-group
            -#       %label
            -#         配送料の負担
            -#         %span.form-require 必須
            -#       .select-wrap
            -#         %i.icon-arrow-bottom
            -#         = f.select :
            -#         %select.select-default
            -#           %option{value: ""} ---
            -#           %option{value: "2"} 送料込み(出品者負担)
            -#           %option{value: "1"} 着払い(購入者負担)
            -#     .form-group
            -#       %label
            -#         発送までの日数
            -#         %span.form-require 必須
            -#       .select-wrap
            -#         %i.icon-arrow-bottom
            -#         %select.select-default
            -#           %option{value: ""} ---
            -#           %option{value: "1"} 1~2日で発送
            -#           %option{value: "2"} 2~3日で発送
            -#           %option{value: "3"} 4~7日で発送
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)

              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        = f.text_field :price, placeholder: "例) 300",class:"input-default"
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right -
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right -
            .modal{role: "dialog", tabindex: "-1"}
              .modal-inner
            .sell-content.sell-btn-box
              = f.submit '変更する', class: 'btn-red btn-default'
              = link_to "もどる", root_path, class:"btn-default btn-gray"
          .overlay

= render "footer"