<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample64h</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"src="https://js.pay.jp/">
    // Payjp.setPublicKey('pk_test_a954d6d6ed37e758cfa853f2')
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
